// police générale 
@mixin font-texte {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
p {
    font-family: 'Roboto', sans-serif;
}

#restaurant {

    .main__titre {
        font-family: "Shrikhand";
    }

    h2,
    h3,
    p {
        font-family: 'Roboto', sans-serif;
    }
}