@use "../abstracts/" as *;

/* infinite background for the footer */

footer {
    background-color: $footer-color;
    h3 {
        color: white
    }
    .fa-solid {
        font-size: 8px;
        color: white;
    }
    svg path {
        fill: white;
    }
}

.footer__nav-0 {
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
    width: 90%;
    .footer__nav-1 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 40%;
    }
    .footer__nav-2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        flex-direction: column;
        row-gap: 5px;
        .nav__part-2-0 {
            display: flex;
            flex-direction: row;
            column-gap: 15px;
            align-items: center;
            h3 {
                font-size: 14px;
                font-weight: 400;
            }
        }
        .nav__part-2-1 {
            display: flex;
            flex-direction: row;
            column-gap: 10px;
            align-items: center;
            row-gap: 5px;
            h3 {
                font-size: 14px;
                font-weight: 400;
            }
        }
        .nav__part-2-2 {
            display: flex;
            flex-direction: column;
            column-gap: 15px;
            align-items: flex-start;
            h3 {
                font-size: 14px;
                font-weight: 400;
            }
        }
    }
}