

$primary-color :         #9356DC;
$secondary-color :       #FF79DA;
$tertiary-color:         #99E2D0;
$forth-color:            #f2f2f2;
$shadow-color:           black;
$bandeau-lieux-color:    #f9f9f976;
$restaurants-grid-color: #f7f7f7;
$footer-color:           #353535;
$card-color:             #ffffff;

// font color 

$font-color-1:           black;

